body{
  background-color:   #FF9900;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:   #000099;
}
.green{
  height: 427px;
  width: 640px;
  background-color: green;
  position: relative;
  top: 50px;
  right: 0px;
  left: 0px;
  margin: auto;

}
.red{
  height: 250px;
  width: 250px;
  background-color: red;
  position: absolute;
  top: 270px;
  right: 0px;
  left: 0px;
  margin: auto;
  border-radius: 100%;
}